* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-black-complete);
}

.app__body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app__main {
  flex: 1;
  overflow-y: auto;
  background-color: var(--color-dark);
}
